:root{
    --form-visibility: block; 
}

html, body, #content{
    margin: 0; 
    width: 100%;
    height: 100%;
}

#content{
    display: flex;
    flex-direction: row;
}


#list-interface{
    padding: 20px;
    height: 100%; 
    width: 50%; 
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    row-gap: 20px;
    column-gap: 10px;
    justify-items: center;
    overflow: scroll;
}

 #list-maker{
    background-color: white;
    border-color: black;
    border-style: solid;
} 

.add-list-img{
    width: 50px;
}

#add-list-form {
    display: none;
    position: absolute;
    top: 10%;
    background: white;
    padding: 20px;
    border: 1px solid;
    border-radius: 20px;
}

.list-form {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 15px;
    gap: 5px;
    border-radius: 20px;
}

.form-close-btn {
    width: 20px;
    padding: 3px;
    background-color: transparent;
    align-self: flex-end;
    border:none;
}

button[type=submit]{
    width: 50px;
    background-color: transparent;
    border: none;
    border-radius: 20px;
}

[class ^= 'list-card'],
#list-maker {
    height: 200px;
    width: 100%; 
    box-sizing: border-box;
    /* border: solid; */
    border-radius: 20px;
    border-width: 1px;
}

.list-card{
    font-family: sans-serif;
    padding: 10%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.list-card div:nth-child(1){
    font-weight: bold;
}

#list-interface .list-card:nth-child(4n -1){
    background-color: #ffbe0b;
}

#list-interface .list-card:nth-child(4n+1){
    background-color: #Ff006e;
}

#list-interface .list-card:nth-child(4n){
    background-color: #Fb5607;
    color: white;
}

#list-interface .list-card:nth-child(4n+2){
    background-color: #8338ec;
    color: white;
}

.remove-button{
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.remove-button img{
    width: 20px;
    height: 20px;
}


/* task inter */
#task-interface{
    height: 100%;
    width: 50%;
    background-color: white;
    display: flex; 
    flex-direction: column;
}

.task-interface-header{
    font-family: sans-serif;
    font-size: 50px;
    align-self: flex-end;
}

.list-page{
    height: fit-content;
    width: 80%;
    align-self: center;
    background-color: white;
    border: 1px solid;
    border-radius: 20px;
    padding: 5%; 
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.to-do-list{
    height: fit-content;
    width: 100%;
    text-decoration: underline;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
}



.item-container{
    display: grid;
    grid-template-columns: 20px 1fr 1fr 50px 50px;
    align-items: center;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-due{
    text-align: end;
    justify-self: end;
}

.task-view-btn img,
.task-delete-btn img{
    width: 15px;
    height: 15px;
    filter:opacity(50%);
}

.task-delete-btn,
.task-view-btn{
    width: fit-content;
    height: fit-content; 
    padding: 0; 
    background-color: transparent;
    border: none;
    justify-self: end;
}

.add-task{
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0; 
    font-family: sans-serif;
    font-size: 1em;
    padding-top: 10px;
    align-self: flex-start;
}

.remove-finished-btn{
    margin-top: 50px;
    background-color: transparent;
    border: none;
}

.priority-high{
    background-color: rgb(255, 0, 110, 0.2);
}

.priority-med{
    background-color: rgb(251, 86, 7, 0.2);
}

.priority-low{
    background-color: rgb(255, 190, 11, 0.2);
}

/* add task & view form */
.view-form{
    position: absolute; 
    top: 20%;
    left: 20%;
    right: 20%;
    background-color: white;
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 5px;
    font-family: sans-serif;
}

#task-title{
    border: none;
    font-size: 1em;
}