:root{
    --form-visibility: block; 
}

html, body, #content{
    margin: 0; 
    width: 100%;
    height: 100%;
}

#content{
    display: flex;
    flex-direction: row;
}

#sidebar{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 10%; 
    background-color: pink;
    display: none;
}

#list-interface{
    height: 100%; 
    width: 50%; 
    background-color: antiquewhite;
}


#add-list-form {
    display: none;
}

[class ^= 'list-card']{
    background-color: aliceblue;
    height: 200px;
    width: 200px; 
    border:solid;
}

#task-interface{
    height: 100%;
    width: 50%;
    background-color: pink;
}

.list-page{
    height: 200px;
    width: 100px;
    background-color: white;
}

.to-do-list{
    height: 50px;
    width: 50px;
}

.high-priority{
    background-color: pink; 
}

.view-form{
    position: absolute; 
    top: 50%;
    left: 50%; 
}